<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

  <title>제작페이지</title>

    <style>
      *{
        font-family: 'Jua', sans-serif;
      }
      .wrap{
        width: 500px;
        padding-top: 100px;
        margin: auto;
      }

      .baby-img {
        width: 500px;
        height: 300px;

        background-image: url("http://newsimg.hankookilbo.com/2019/04/29/201904291390027161_3.jpg");
        background-position: center;
        background-size: cover;
      }

      .family-info {
        width: 250px;
      }

      .Birthday{
        padding-bottom: 15px;
      }
    </style>

    <script>
      function familyinfo() {
        alert('주문이 완료되었습니다.')
          location.href = '/result';
      }
    </script>
</head>
<body>
  <div class="wrap">
    <div class="family-info">
      <h5 style="font-weight: bold">이름을 적어주세요</h5>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">아기</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Username"
               aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">엄마</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Username"
               aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">아빠</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="Username"
               aria-describedby="basic-addon1">
      </div>

      <h5 style="font-weight: bold">아기 탄생일</h5>
      <div class="Birthday">
      <select class="form-select form-control-sm">
        <option>년도</option>
        <option value="1">1980</option>
        <option value="2">1981</option>
        <option value="3">1982</option>
        <option value="4">1983</option>
        <option value="5">1984</option>
        <option value="6">1985</option>
        <option value="7">1986</option>
        <option value="8">1987</option>
        <option value="9">1988</option>
        <option value="10">1989</option>
        <option value="11">1990</option>
        <option value="12">1991</option>
        <option value="13">1992</option>
        <option value="14">1993</option>
        <option value="15">1994</option>
        <option value="16">1995</option>
        <option value="17">1996</option>
        <option value="18">1997</option>
        <option value="19">1998</option>
        <option value="20">1999</option>
        <option value="21">2000</option>
        <option value="22">2001</option>
        <option value="23">2002</option>
        <option value="24">2003</option>
        <option value="25">2004</option>
        <option value="26">2005</option>
        <option value="27">2006</option>
        <option value="28">2007</option>
        <option value="29">2008</option>
        <option value="30">2009</option>
        <option value="31">2010</option>
        <option value="32">2011</option>
        <option value="33">2012</option>
        <option value="34">2013</option>
        <option value="35">2014</option>
        <option value="36">2015</option>
        <option value="37">2016</option>
        <option value="38">2017</option>
        <option value="39">2018</option>
        <option value="40">2019</option>
        <option value="41">2020</option>
        <option value="42">2021</option>
        <option value="43">2022</option>
      </select>
      <select class="form-select form-control-sm">
        <option>월</option>
        <option value="1">01</option>
        <option value="2">02</option>
        <option value="3">03</option>
        <option value="4">04</option>
        <option value="5">05</option>
        <option value="6">06</option>
        <option value="7">07</option>
        <option value="8">08</option>
        <option value="9">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select class="form-select form-control-sm">
        <option>일</option>
        <option value="1">01</option>
        <option value="2">02</option>
        <option value="3">03</option>
        <option value="4">04</option>
        <option value="5">05</option>
        <option value="6">06</option>
        <option value="7">07</option>
        <option value="8">08</option>
        <option value="9">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      </div>

      </div>

    <div class="baby-img"></div>

    <div class="mb-3">


  <form action="/upload" method="post" id="uploadForm" enctype="multipart/form-data">
            <label>이미지 첨부</label>
            <input type="file" name="image" class="form-control" placeholder="">
            <input type="submit" class="btn btn-primary btn_location" value="Submit">
</form>
</div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">탄생일</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file">
          <label class="custom-file-label">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">50일</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input" >
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">100일</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input">
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">4개월</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input">
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">5개월</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input" >
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">6개월</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input" >
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">7개월</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input" >
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">8개월</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input" >
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">9개월</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input"">
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">10개월</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input">
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">11개월</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input">
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">12개월</span>
      </div>
      <div class="custom-file">
        <form action="..." method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input">
          <label class="custom-file-label" for="inputGroupFile01">사진을 첨부해주세요</label>
        </form>
      </div>
    </div>




      <button onclick="familyinfo()" type="submit" class="btn btn-primary">주문하기</button>
    </div>
  </div>

</body>
</html>